<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoInterest</title>
  <link rel="shortcut icon" href="/images/Screenshot 2023-12-09 134421-modified.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
      width: 100%;
    }

    @media (max-width: 700px) {
      #main {
        background-position: center;
      }

      #container {
        padding: 20px;
      }

      #navpart2 {
        display: none;
      }

      #nav{
        justify-content: center;
      }
    }
  </style>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>