<div id="nav" class="w-full px-10 py-3 flex items-center justify-between">
  <h3 class="font-black cursor-default">NoInterest</h3>
  <div id="navpart2" class="flex gap-10 items-center">
    <a href="/profile">Profile</a>
    <a href="/feed">Feed</a>
    <a class="px-3 py-2 bg-orange-300 border-2 text-white rounded-md" href="/logout">Logout</a>
  </div>
</div>